/* CSS declarations go here */
.hidden_div{
	display:none;
}


.votes,.created-on {
    font-size:small;
    color:gray;
    display:block;
}


.detail span {
    
}


.detail .title {
    display:block;
    font-weight: bold;
}

.detail .url {
    display:block;
    font-weight: bold;
}

.detail .description {
    display: block;
} 

.detail .votes, 
.detail .createdOn {
    color: gray;
}